@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

:root{
  --main: #001f3f;
  --accent: #d4af37;
  --background: #e3c3a8;
  --grey: #f5f5f5;
}

body{
  margin: 0;
  padding: 0;  
  font-size: medium;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

header, footer{
  background-color: var(--main);
  height: 20%;
  padding: 1rem 0 1rem 0;
}

header div, footer div, .rooms section, .room-lg section{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

header h1, header p, footer h1, footer p, .rooms h2, .room-info h2, .forms h2, .forms-large h2 {
  font-family: "Playfair Display SC";
  color: var(--accent);
}

.logo{
  font-size: 4vw;
  letter-spacing: 5px;
}

header a, .price{
  height:3rem;
  width:8rem;
  border: 2px solid;
  border-radius: 8px;
  background-color: var(--main);
  border-color: var(--grey);
  color: var(--grey);
  font-family: "Bodoni moda";
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 200ms;
}

header a:hover{
  background-color: var(--grey);
  color: var(--main);
  text-decoration: none;
  font-weight: 900;
}

.footer-text{
  font-family: "Bodoni moda";
  color: var(--grey);
}

.hotel-pic{
  height: 500px;
  background-image:url(images/poolhotel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40%;
}

.rooms, .room-lg{
  height: 60vh;
  background-color: var(--background);
}

.room-lg{
  max-height: 400px
}

.rooms div{
  max-height:100% ;
}

.rooms article,.room-lg article{
  height: 80%;
  width: 80%;
  border-radius: 8px;
  background-color: var(--main);
  display: flex;
}

.rooms article, .room-info{
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}

.room-info{
  padding-top: 1rem;
}

.room-lg article{
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.room-pic{
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.room-lg img{
  width: 50%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 0 0 8px;
}

.room-info{
  height: 100%;
  width: 50%;
  display: flex;
}

.room-specs{
  width: 100%;
  text-align: start;
  font-size: 1.2rem;
}

.room-buttons{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.rooms p{
  font-size: 2rem;
}

.book{
  width: 8rem;
  height: 3rem;
  border: 2px solid var(--grey);
  border-radius: 8px;
  background-color: var(--accent);
  color: var(--main);
  font-family: "Bodoni moda";
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 200ms;
}

.book:hover{
  background-color: var(--main);
  color: var(--accent);
  text-decoration: none;
}

.forms{
  height: 30vh;
  background-color: var(--background);
  display: flex;
  align-items: center;
}

.forms-large{
  height:40vh;
  background-color: var(--background);
  padding: 0 1rem 0;
}

.forms div, .forms-large div{
  height:100%;
}

.forms section, .forms-large section{
  height: 80%;
  width: 100%;
  background-color: var(--main);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0 2rem;
}

.forms label, .forms-large label{
  font-family: "Bodoni moda";
  color: var(--grey);
  width: 6rem;
}

.forms-large .row{
  margin: 0.5rem 0 0.5rem;
}

.payment{
  width: 100%;
  display: flex;
}

@media only screen and (max-width: 768px) {
  .logo{font-size: 6vw;}
}

@media only screen and (min-width: 1050px){
  .logo{font-size: 3vw;}
}

